@keyframes bgColor {
	from {background-color:#524a47;}
	25%	 {background-color:#404238;}
	50%	 {background-color:#3b3434;}
	75% {background-color: #40404a;}
	to   {background-color:#524a47;}
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto auto auto 1fr;
	margin: 0;
	animation: bgColor 40s linear infinite;
}

@font-face {
	font-family: "originalFont";
	src: url("../0_data/fonts/GlowSansJ-Normal-Light.otf") format("truetype");
}

:not(.formula):not(.formula *) {
	font-family: "originalFont";
	color: #fff;
}

#pinnedValParent {
	display: flex;
	width: 100%;
	font-size: 1.8rem;
	justify-content: space-evenly;
	text-align: center;
	background-color: #333;
	border-bottom: 1px solid #ccc;
	z-index: 1;
}

#mainFormula {
	margin: 25px auto;
	font-size: 50px;
	text-align: center;
}

#mainFormula>span {
	position: relative;
	cursor: pointer;
}

#mainFormula>span>.label {
	position: absolute;
	top: 95%;
	left: 50%;
	width: max-content;
	translate: -50% 0;
	font-size: 20px;
	transition: all 0.5s ease;
	translate: -50% -20px;
	opacity: 0;
}

#mainFormula>span:hover>.label {
	display: inline;
	opacity: 1;
	translate: -50% 0;
}

#m {display: none; /* 初期値 */}

#tabBar {
	width: calc(100% - 30px);
	margin: 0 10px;
	padding: 0 5px;
	padding-top: 10px;
}

#tabBar>input {display: none;}

#tabBar>label {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 40px;
	height: 40px;
	text-align: center;
	padding: 3px 10px;
	background-color: transparent;
	color: #fff;
	background-color: #333;
	border-radius: 10px;
	border: 0;
	cursor: pointer;
	transition: all .15s ease;

	input {display: none;}

	&:has(input:checked) {
		background-color: #555;
		translate: 0 5px;
		border-radius: 10px 10px 0 0;
	}
}

#tab {
	margin-top: 5px;
	padding: 10px 10px;
	border: 0 solid white;
	border-top-width: 2px;
}

#tab>div:not(#upgrade) {display: none; /* 初期値 */}

#upgrade {
	display: flex;
	justify-content: space-evenly;
}

#upgrade>button {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 500px;
	font-size: 1.6rem;
	padding: 5px 10px;
	margin: 5px 0;
	background-color: #333;
	color: #fff;
	border: 1.5px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
	--beforeWidth: 0%;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: var(--beforeWidth); /* 初期値 */
		height: 100%;
		background-color: #fff2;
	}

	.left {text-align: left;}
	.right {text-align: right;}
}
