@font-face {
	font-family: "originalFont";
	src: url(/0_data/fonts/MPLUS1p-Regular.ttf) format("truetype");
src: url(https://u-12031.github.io/0_data/fonts/MPLUS1p-Regular.ttf) format("truetype");
	/* ↑codeswing用 */
}

@font-face {
	font-family: "boldFont";
	src: url(/0_data/fonts/MPLUS1p-Medium.ttf) format("truetype");
src: url(https://u-12031.github.io/0_data/fonts/MPLUS1p-Medium.ttf) format("truetype");
	/* ↑codeswing用 */
}

@keyframes valChanged {
	from {scale: 1.2;}
	to {scale: 1;}
}

.valChanged {animation: valChanged .3s ease-out forwards;}

* {font-family: "originalFont";}

h1#title {font-family: "boldFont";}

#control {
	text-align: center;
	margin: 20px auto;

	button {
		font-size: 1.5em;
		color: #000;
		background-color: #dfb;
		border: 4px solid #8c5;
		border-radius: 10px;
	}
}

#settings {
	background-color: #eee;
	padding: 10px;
	margin: 20px;

	summary {
		font-size: 1.2em;
		margin-bottom: 10px;
	}

	label:not(#allSpecify label) {
		display: flex;
		justify-content: space-between;
		margin: 3px auto;
	}

	input[type="number"] {
		width: 60px;
		border: 1px solid black;
		border-radius: 3px;

		&:invalid {
			color: red;
			background-color: #fdd;
		}

		&:not(#allSpecify input) {margin-left: 15px;}
	}
}

#settings>fieldset {
	border: 2px solid;
	padding: 10px;
	margin: auto 5px;

	&:not(#allSpecify) {display: inline;}

	legend:not(#allSpecify legend) {text-align: center;}
}

#allSpecify {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 5px;

	input {margin-left: 3px;}

	>span>label {
		white-space: nowrap;
		margin-left: 20px;
	}
}

#settings>fieldset {
	&:nth-of-type(1) {
		border-color: #000;
		background-color: #fff;
		color: #000;
	}
	&:nth-of-type(2) {
		border-color: #800;
		background-color: #fdd;
		color: #300;
	}
	&:nth-of-type(3) {
		border-color: #840;
		background-color: #fed;
		color: #320;
	}
	&:nth-of-type(4) {
		border-color: #a80;
		background-color: #ffd;
		color: #330;
	}
	&:nth-of-type(5) {
		border-color: #070;
		background-color: #dfd;
		color: #030;
	}
	&:nth-of-type(6) {
		border-color: #076;
		background-color: #dfe;
		color: #032;
	}
	&:nth-of-type(7) {
		border-color: #077;
		background-color: #dff;
		color: #033;
	}
	&:nth-of-type(8) {
		border-color: #027;
		background-color: #def;
		color: #013;
	}
	&:nth-of-type(9) {
		border-color: #307;
		background-color: #edf;
		color: #203;
	}
	&:nth-of-type(10) {
		border-color: #707;
		background-color: #fde;
		color: #302;
	}
	&:nth-of-type(11) {
		border-color: #222;
		background-color: #fff;
		color: #111;
	}
}

#main {
	position: relative;
	display: grid;
	grid-template-columns: 0 repeat(13, 70px);
	gap: 10px;
	background-color: #222;
	color: white;
	overflow-x: auto;
	padding: 10px;
	text-align: center;

	&>span:nth-of-type(1) {
		text-align: right;

		* {font-family: "boldFont";}
	}
}

#main>span:nth-of-type(-n + 13) { /* 13個目までの要素 */
	position: relative;
	display: grid;
	grid-template-rows: 270px 1.2fr repeat(2, 1fr);
	width: 70px;
	margin-top: 30px;
	line-height: 1.8em;
	color: var(--color);

	.barParent {
		position: relative;
		margin: 10px 15px;
		height: 250px;
		width: 40px;

		div {
			position: absolute;
			bottom: 0;
			left: 0;
			width: inherit;
			height: 0%; /* 初期値 */
			background-color: var(--color);
		}
	}

	.barLabel {
		font-family: "boldFont";
	}

	div:not(.barParent, .barParent div ,#main>span:nth-of-type(1) div) {
		display: flex;
		justify-content: center;
		width: 70px;
		white-space: nowrap;
	}

	&:nth-of-type(2) {--color: #ff5959;}
	&:nth-of-type(3) {--color: #ffa64d;}
	&:nth-of-type(4) {--color: #f8f84a;}
	&:nth-of-type(5) {--color: #a0f549;}
	&:nth-of-type(6) {--color: #4bfda4;}
	&:nth-of-type(7) {--color: #4cffff;}
	&:nth-of-type(8) {--color: #3f3fd4;}
	&:nth-of-type(9) {--color: #9f49f4;}
	&:nth-of-type(10) {--color: #fb4bfb;}
	&:nth-of-type(11) {--color: #fff;}
	&:nth-of-type(12) {--color: #aaa;}
	&:nth-of-type(13) {--color: #fff;}
}

#scoreDisplay {
	position: sticky;
	top: 0px;
	left: 50%;
	translate: -50% -5px;
	font-family: "boldFont";
	font-size: 1.7em;
	width: calc(50vw);
	height: 1.5em;
}

#mainScales {
	position: relative;
	margin-top: 10px;
	height: 250px;

	div {
		position: absolute;
		left: 100%;
		width: calc(80px * 10);
		height: 2px;
		background-color: #fff2;
		translate: 0 -50%;
	}

	&>div:nth-of-type(1) {top: 0;}
	&>div:nth-of-type(2) {top: 25%;}
	&>div:nth-of-type(3) {top: 50%;}
	&>div:nth-of-type(4) {top: 75%;}
}

.rightMark {
	font-family: "boldFont";
	position: absolute;
	bottom: 0;
	right: 0;
	translate: 50% 0;
	color: #fff;
}

#pMultDisplay {
	position: relative;
	grid-row: 4 / 5;
}